<?php
/**
 * @see rewite template page\template\links.phtml
 */
?>
<?php $check = Mage::helper('sociallogin')->getShownPositions();?>
<?php $_isRetail = Mage::helper('sdm_core')->isSite(SDM_Core_Helper_Data::ELLISON_SYSTEM_CODE_RE); ?>
<?php $_isEdu = Mage::helper('sdm_core')->isSite(SDM_Core_Helper_Data::ELLISON_SYSTEM_CODE_ED); ?>
<?php $_isSecure = Mage::app()->getFrontController()->getRequest()->isSecure() ?>
<?php if (in_array("popup", $check)):?>
<?php $arrayButton = $this->makeArrayButton(); $temp = $arrayButton; ?>
<?php $numberShow = $this->getNumberShow();?>
<?php $countAll = 0;?>
<?php $countMain = 0;?>
<?php $count = 0;?>
<?php $_loginMessage = Mage::helper('sdm_core')->getLoginMessage() ?>
    <div id="magestore-popup" style="display: none; text-align: left;">
        <div id="sociallogin-close" title="Close" style="font-weight:bold;font-size:11px;color:#f18200"></div>
        <div id="magestore-login-form" style="float: left">
            <h2 id="login-message"><?php echo $this->__("Login to ") . $_loginMessage ?></h2>
            <div id="sociallogin-forgot" style="display: none">                
                <span class="sociallogin-forgot-content"><?php echo $this->__('Please enter your email below and we will send you a new password.');?></span>
            </div>
            <!-- formm Login -->
            <form id="magestore-sociallogin-form" class="magestore-login-form-popup">
                <!-- email -->
                <div class="magestore-login-input-box">
                    <label class="required login-label" for="email">
                        <?php echo $this->__('Email Address ');?><em>*</em>
                    </label>
                    <div class="sociallogin-input-box">
                        <input id="magestore-sociallogin-popup-email" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="socialogin_email">
                    </div>
                </div>
                <!-- password -->
                <div id="magestore-sociallogin-password" class="magestore-login-input-box">
                    <label class="required login-label" for="pass">
                        <?php echo $this->__('Password ');?><em>*</em> 
                    </label>
                    <div class="sociallogin-input-box">
                        <input type="password" id="magestore-sociallogin-popup-pass" class="input-text required-entry validate-password" type="text" title="Password" value="" name="socialogin_password">
                    </div>
                </div>
                <!-- image ajax -->
                <div id="progress_image_login" class="ajax-login-image" style="display: none">
                </div>
                <!-- error invalid email -->
                <div id="magestore-invalid-email" class="magestore-invalid-email"></div>
                <!-- sumbit -->
                
                <div class="magestore-login-popup-button">
                    <div class='remember-me'>
                        <a href="#"><?php echo $this->__('What\'s This?'); ?></a>
                        <label>
                            <span><?php echo $this->__('Remember Me?'); ?> &nbsp;</span>
                            <input type='checkbox' name='persistent_remember_me' value='1' />
                        </label>
                        <div class="clear"></div>
                        <div class="remember-me-popup">
                            <div class="remember-me-popup-head">
                                <h3><?php echo $this->__("What's this?"); ?></h3>
                                <a href="#" class="remember-me-popup-close" title="<?php echo $this->quoteEscape($this->__('Close')) ?>"><?php echo $this->__('Close') ?></a>
                            </div>
                            <div class="remember-me-popup-body">
                                <p><?php echo $this->__('Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out'); ?></p>
                                <div class="remember-me-popup-close-button a-right">
                                    <a href="#" class="remember-me-popup-close button" title="<?php echo $this->quoteEscape($this->__('Close')) ?>"><span><?php echo $this->__('Close') ?></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <button id="magestore-button-sociallogin" class="button popup_click_btn" name="send" title="Login" type="button" style="float:right;">
                        <span><span><?php echo $this->__('Login')?></span></span>
                    </button>
                    <a id="magestore-forgot-password" href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>"><?php echo $this->__('Forgot Your Password?') ?></a>
                </div>
            </form>
            <!-- social login -->
            <?php if (!empty($arrayButton)): ?>
                <div id="magestore-login-social">
                    <h3 class="magestore-loign-h3"><?php echo $this->__("or Sign in Socially");?></h3>
                    <!-- default -->
                    <ul class="magestore-login-social">
                    <?php foreach($arrayButton as $key => $button):?>
                        <?php $check =$button['check'];?>
                        <?php if($check): unset($temp[$key]);?>
                            <li class="button popup"> <?php echo $button['button']?> </li>
                            <script type="text/javascript">
                                if($('<?php echo $button['id'] ?>' ))
                                $('<?php echo $button['id'] ?>').addClassName('visible');
                            </script>
                            <?php ++$countMain ;?>
                        <?php endif;?>
                        <?php if($countMain == $numberShow){break;} ?>
                    <?php endforeach;?>
                    </ul>
                </div>
            <?php else: ?>
                <!-- Show this to avoid breaking JS... ಠ_ಠ -->
                <div id="magestore-login-social" style='display: none !important;'></div>
            <?php endif;?>
        </div>
        <!-- form forgot -->
        <form id="magestore-sociallogin-form-forgot" class="magestore-login-form-popup" style="display: none">
            <div class="magestore-login-input-box">
                <label class="required login-label" for="email">
                    <?php echo $this->__('Email Address ');?><em>*</em> 
                </label>
                <div class="sociallogin-input-box">
                    <input id="magestore-sociallogin-popup-email-forgot" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="socialogin_email_forgot">                        
                </div>
            </div>
            <!-- image ajax -->
            <div id="progress_image_login_forgot" class="ajax-login-image" style="display: none">                    
            </div>
            <!-- error invalid email -->
            <div id="magestore-invalid-email-forgot" class="magestore-invalid-email"></div>
            <!-- sumbit -->
            <div class="magestore-login-popup-button">                    
                <a id="magestore-forgot-back" href="javascript:void(0);"><?php echo $this->__('Back to Form Login') ?></a>
                <button id="magestore-button-sociallogin-forgot" class="button popup_click_btn" title="<?php echo $this->__('Send Password');?>" type="button">
                    <span><span><?php echo $this->__('Send Password')?></span></span>
                </button>
            </div>
        </form>
        
        <!-- create new user -->
        <div id="magestore-create-user" style="float: left;">
            <h2><?php echo $this->__("Create New Account") ?></h2>
            <form id="magestore-sociallogin-form-create" class="magestore-login-form-popup">
                <ul class="form-list">
                    <?php if ($_isRetail): ?>
                        <li class="fields">
                            <div class="field sociallogin-field">
                                <label class="required" for="company"><?php echo $this->__('Company ');?><em>*</em></label>
                                <div class="input-box">
                                    <input id="socialogin.company" class="input-text required-entry" type="text" title="Company" value="" name="company">
                                </div>
                            </div>
                        </li>
                    <?php elseif ($_isEdu): ?>
                   	<li class="fields">
                        <div class="field name-institution sociallogin-field">
                            <label class="required" for="institution"><?php echo $this->__('School/Institution Name');?> <em>*</em></label>
                            <div class="input-box">
                                <input id="socialogin.institution" class="input-text required-entry" type="text" title="Institution" value="" name="institution">
                            </div>
                        </div>
                        <div class="field name-institutiondescription sociallogin-field">
                            <label class="required" for="institutiondescription"><?php echo $this->__('Institution Type ');?><em>*</em></label>
                            <div class="input-box">
                            <select id="socialogin.institutiondescription" class="input-text required-entry" name="institutiondescription">
                            <?php $options = Mage::getModel('sdm_customer/attribute_source_institutiondescription')->getAllOptions(); ?>
                            	<?php foreach($options as $option): ?>
                            		<option value='<?php echo $option['value'] ?>'><?php echo $option['label'] ?></option>
                            	<?php endforeach; ?>
                            </select>
                            </div>
                        </div>
                    </li>
                    <?php endif; ?>
                    <li class="fields">
                        <div class="field name-firstname sociallogin-field">
                            <label class="required" for="firstname"><?php echo $this->__('First Name ');?><em>*</em></label>
                            <div class="input-box">
                                <input id="socialogin.firstname" class="input-text required-entry" type="text" title="First Name" value="" name="firstname">
                            </div>
                        </div>
                        <div class="field name-lastname sociallogin-field">
                            <label class="required" for="lastname"><?php echo $this->__('Last Name ');?><em>*</em></label>
                            <div class="input-box">
                                <input id="socialogin.lastname" class="input-text required-entry" type="text" title="Last Name" value="" name="lastname">
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field sociallogin-field">
                            <label class="required" for="email"><?php echo $this->__('Email ');?><em>*</em></label>
                            <div class="input-box">
                                <input id="socialogin.email" class="input-text required-entry validate-email" type="text" title="Email" value="" name="email">
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field sociallogin-field">
                            <label class="required" for="pass"><?php echo $this->__('New Password ');?><em>*</em></label>
                            <div class="input-box">
                                <input id="socialogin.pass" class="password input-text required-entry validate-password" type="password" title="Pass" value="" name="pass">
                            </div>
                        </div>
                        <div class="field sociallogin-field">
                            <label class="required" for="pass-confirm"><?php echo $this->__('Confirm Password');?><em>*</em></label>
                            <div class="input-box">
                                <input id="socialogin.pass.confirm" class="password input-text required-entry validate-cpassword" type="password" title="Pass Confirm" value="" name="passConfirm">
                            </div>
                        </div>
                        <div id="password-strength-container">
                            <div class="title"><?php echo $this->__('Password Strength')?></div>
                            <div id="password-indicator" style="background: #C4C4C4; height: 0.5em;width: 100%;">
                                <div id="strength-indicator" style="width: 10%; height: 0.5em;"></div>
                            </div>
                            <div id="password-strength-text" style= "font-weight:bold"></div>
                        </div>
                    </li>
                </ul>
                <!-- image ajax -->
                <div id="progress_image_login_create" class="ajax-login-image" style="display: none">
                </div>
                <!-- error invalid create ACC -->
                <div id="magestore-invalid-create" class="magestore-invalid-email"></div>
                <div class="magestore-create-popup-button">
                    <p class="note"><strong><?php echo $this->__('NOTE: ')?></strong><?php echo $this->__('Use uppercase letter, digits & special characters for a more secure password (ie: # $ & %)')?></p>
                </div>
                <?php if (!$_isRetail): ?>
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field sociallogin-field newsletter-field">
                                <!-- <label class="required" for="company"></label> -->
                                <div class="input-box">
                                    <label>
                                    	<input id="socialogin.newsletter" type="checkbox" value="1" name="newsletter">
    		                            <?php echo $this->__('Sign up for newsletter');?>
    	                            </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                <?php endif; ?>
                <div class="magestore-create-popup-button">
                    <button id="magestore-button-sociallogin-create" class="button popup_click_btn" title="<?php echo $this->__('Sign Up');?>" type="button" style="margin-right: 17px">
                        <span><span><?php echo $this->__('Sign Up')?></span></span>
                    </button>
                </div>
            </form>
        </div>
        <!-- end code create account -->

        <?php if(count($temp)):?>
            <?php $noEmpty = false;?>
            <?php foreach($temp as $tem):?>
            <?php if($tem['check']):?>
            <?php $noEmpty = true;?>
            <?php endif;?>
            <?php endforeach;?>
            <?php if($noEmpty):?>
            <!-- other login -->
            <div class="sociallogin-other"  style="text-align: right;">
                <div id="sociallogin-other-div-popup">
                    <div id="sociallogin-other-div-popup-hover" style="float: right; display: block;">
                        <a id="sociallogin-other-a-popup" style="text-decoration: none;"><span class="sociallogin-other-span"><?php echo $this->__('Other Login') ?></span><span class="sociallogin-other-span-img-popup"></span></a>                                        
                        
                        <ul class="sociallogin-other-button-popup" id="sociallogin-other-button-popup" style="display:none;">
                        <?php foreach($temp as $button):?>                
                            <?php $check = $button['check']; ?>
                            <?php if($check): $count ++;?>                
                                <li class="button other-button" style="float: left"> <?php echo $button['button'] ?> </li>    
                                <script type="text/javascript">
                                    $('<?php echo $button['id'] ?>').addClassName('non-visible');
                                </script>                    
                            <?php endif;?>            
                        <?php endforeach;?>  
                        </ul>
                    </div>                    
                </div>
            </div>    
                <script type="text/javascript">                
                    /*$("sociallogin-other-div-popup-hover").observe('click', function() {
                        $('sociallogin-other-button-popup').setStyle({ display: 'block' });                
                    });
                    /* $("sociallogin-other-div-popup-hover").observe('mouseout', function() {
                        $('sociallogin-other-button-popup').setStyle({ display: 'none' });                
                    }); */
                    $("sociallogin-other-a-popup").observe('click', function() {
                        if(this.hasClassName('active')){
                            this.removeClassName('active');
                            $('sociallogin-other-button-popup').style.display = 'none';
                        }else{ 
                            this.addClassName('active');
                            $('sociallogin-other-button-popup').style.display = 'block';
                        }
                    });
                    /*$("#bg_fade").observe('click', function() {
                        $('sociallogin-other-button-popup').setStyle({ display: 'none' });                
                    });*/
                </script>
            <?php endif; ?>
            <?php endif; ?>
    </div>

    <script type="text/javascript">
    try{
        if(document.getElementById('search_mini_form'))
        {
            var links = document.links;
            for (i = 0; i < links.length; i++) {
                if (links[i].href.search('/customer/account/login/') != -1 && links[i].href.search('/customer/account/login/#') == -1) {
                    links[i].href = 'javascript:socialLogin.open();';
                    Event.observe(links[i], 'click', function () {
                    $('magestore-login-social').style.display = "block";
                    if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                    $('magestore-popup').style.width="706px";
                    });
                }
                if (links[i].href.search('/wishlist/') != -1) {
                    links[i].href = 'javascript:socialLogin.open();';
                    Event.observe(links[i], 'click', function () {
                    $('magestore-login-social').style.display = "block";
                    if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                    $('magestore-popup').style.width="706px";
                    });
                }
                if (links[i].href.search('/customer/account/') != -1 && !links[i].down('span') && links[i].href.search('/customer/account/login/#') == -1 && links[i].href.search('/customer/account/forgotpassword') == -1) {
                    links[i].href = 'javascript:socialLogin.open();';
                    Event.observe(links[i], 'click', function () {
                    $('magestore-login-social').style.display = "block";
                    if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                    $('magestore-popup').style.width="706px";
                    });
                }
            }
        }
        if(document.getElementById('product_comparison')){
            var links = document.links;
            for (i = 0; i < links.length; i++) {
                if (links[i].href.search('/wishlist/') != -1) {        
                    links[i].href = 'javascript:socialLogin.open();';
                }
            }
        }
        if(document.getElementById("checkout-step-login"))
        {
            $$('.col-2 .buttons-set').each(function(e) {
            e.insert({bottom: '<div id="multilogin"> <button type="button" class="button" style="" onclick="javascript:socialLogin.open();" title="Social Login" name="headerboxLink1" id="headerboxLink1"><span><span>Social Login</span></span></button></div>'});
            });
        }
    }catch(exception)
    { alert(exception);}        
    </script>

    <script type="text/javascript">
        Event.observe(window, 'load', function () {
            socialLogin = new Lightbox('magestore-popup');
            Event.observe('bg_fade', 'click', function () {
                socialLogin.close();
            }); 
        });
        Event.observe('sociallogin-close', 'click', function () {
            socialLogin.close();
        }); 
        document.observe("dom:loaded", function() {
        var magestorePopupSocial = $('magestore-popup_social');
        
        Event.observe(window, 'resize', function () {         
            socialLogin._centerWindow('magestore-popup');
            socialLogin._centerWindow('magestore-popup_social');
        });    
        });
    </script>
    
    <script type="text/javascript">
    Event.observe(window, 'load', function() {
        var options = {                    
            email: document.getElementById('magestore-sociallogin-popup-email').value,
            pass : document.getElementById('magestore-sociallogin-popup-pass').value,
            login_url  : "<?php echo $this->getUrl('sociallogin/popup/login',array('_secure' => $_isSecure));?>",
            send_pass_url : "<?php echo $this->getUrl('sociallogin/popup/sendPass',array('_secure' => $_isSecure));?>",
            create_url : "<?php echo $this->getUrl('sociallogin/popup/createAcc',array('_secure' => $_isSecure));?>",
        };
        Login = new LoginPopup(options);    
     });         
    </script>
<?php endif; ?>

<script type="text/javascript">
//<![CDATA[
function toggleRememberMePopup() {
    var formParent = jQuery(this).parents('form:first');
    formParent.find('.remember-me-popup').toggleClass('show');
    return false;
}
jQuery(document).ready(function(){
    jQuery('.remember-me-popup a, .magestore-login-popup-button .remember-me > a')
        .on('click', toggleRememberMePopup);
});
//]]>
</script>
