<?php
/**
 * Layered Navigation Pro
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Nav
 * @version      2.6.1
 * @license:     K8IsFhcwH46IUTTfe1KMCQDRtHjZtZh9uR7A6EdKWo
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
if ('ajax' != Mage::app()->getRequest()->getControllerName()) : ?>
    <script>
	    if ($('adj-nav-container') && $('adj-nav-container').length){
		    adjnavToolbar.init();
	    }
    </script>
    <?php if(Mage::helper('adjnav')->isPageAutoload()):?>
        <script type="text/javascript">
	    	if ($('adj-nav-container') && $('adj-nav-container').length){
	            page_autoload.init();
	        }
        </script>
    <?php endif; ?>
<?php endif; ?>