<?php
/**
 * Layered Navigation Pro
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Nav
 * @version      2.6.1
 * @license:     K8IsFhcwH46IUTTfe1KMCQDRtHjZtZh9uR7A6EdKWo
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
if ('ajax' != Mage::app()->getRequest()->getControllerName()) : ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/main.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/navigation.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/listener.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/block.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/pageAutoload.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/attribute.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/attributeValues.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/price.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/adjnav/control/toolbar.js'); ?>"></script>
<?php endif; ?>
<?php $state = $this->getStateInfo(); ?>
<?php $state = Mage::getSingleton('sdm_catalogcrumb/crumb')->addCrumbToState($state); ?>
<div id="nav_params">
<input type="hidden" id="adj-nav-url" value="<?php echo $this->htmlEscape($state[0]) ?>"/>
<input type="hidden" id="adj-nav-params" value="<?php echo $this->htmlEscape($state[1]) ?>"/>
<input type="hidden" id="adj-nav-ajax" value="<?php echo $this->htmlEscape($state[2]) ?>"/>
</div>
<?php if(Mage::helper('adjnav')->isPageAutoload()):?>

    <script type="text/javascript">
        page_autoload = new AdjnavPageAutoload();
    </script>

<?php endif; ?>